
.nuestrosPlanes{
    background-color:$colorGris;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 3rem;
    font-size: 1.5rem
}
h2{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    width: 45%
}

.card{
    margin:2rem
}
.tarjetas{
    margin:2rem;
   
}


.card-text1{
    line-height: 1;
}
.boton6{
	border-radius: 5px;
	border: none;
	padding: 0.5rem;
    margin: auto;
    color: $colorBlanco;
    background-color: $colorVerde;
    text-decoration: none;
}
button{
    border:none;
}


.card:hover{
        transform:scale(1.1);
      
       }
