.preguntas{
        padding: 5rem;
   span{
        font-size: 1.7rem;
        font-family: $fontPrincipal;
        font-weight: 300;
    }
    p{
        font-size:1.3rem;
        font-family: $fontPrincipal;
        font-weight: 300;

    }
}
.preguntasGris{
    background-color: $colorGris;
    padding: 5rem;
}